body{
    background-image: url(bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;

    margin: 0;
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}
#background{
    background-color: rgba(140, 168, 240, 0.733);
    backdrop-filter: blur(2px);                /* 💫 magic blur */
    -webkit-backdrop-filter: blur(2px);        
    padding: 20px;
    border-radius: 25px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 1);
    
}

h1{
  font-size: 3.5rem;
  color: #110256;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
}

.choices{
  margin-top: 30px;
  margin-bottom: 30px;
}

.choices button{
  font-size: 5rem;
  margin: 0 15px;
  padding: 10px 10px;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  background-color: rgb(182, 205, 255);
  text-shadow: 0 4px 5px rgba(0, 0, 0, 0.8);
  transition: transform 0.2s, box-shadow 0.2s;
}

.choices button:hover{
  transform: scale(1.05);
  background-color: rgb(158, 187, 255);

  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}
.choices button:active{
  transform: scale(0.98);
  background-color: rgb(224, 229, 255);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

#playerDisplay,
#computerDisplay {
  display: flex;              /* ✨ makes them flex containers */
  justify-content: center;    /* center horizontally */
  align-items: center;        /* center vertically */
  text-align: center;         /* center text */

  background-color: #110256;
  font-size: 1.5rem;
  margin: 10px auto;          /* 👈 centers the box itself */
  color: #9bb9ff;
  max-width: 300px;
  padding: 10px;

  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  border-radius: 12px;
}

#resultDisplay {
  font-size: 5rem;
  color: #110256;
  margin-top: 25px;
  text-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
}

.scoreDisplay {
  font-size: 1.5rem;
  color: #110256;
  margin-top: 10px;
  text-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
}
.greenbg{
  background-color: rgba(35, 73, 188, 0.516) ;
  border-radius: 12px;
  width: auto;
}

.redbg{
  background-color: rgba(6, 12, 95, 0.475);
  border-radius: 12px;
  width: auto;
}